/* 

The Educator Custom CSS for WordPress Admin 

We don't overwrite styles in WP Admin, instead we provide custom style classes
clearly name-spaced to the WDA theme and plugins.

*/


/* 
   Input/label combos 
*/
label.te_label {
   display:grid;
   grid-template-columns: 1fr 4fr;
   justify-content:space-between;
   /* width:100%; */
   margin-bottom:1rem;
}
label.te_label span.te_label_text {
   padding-top:.35rem;
}
div.te_legend {
   font-style:italic;
   width:100%;
   text-align:right;
   margin-top:1rem;
   margin-bottom:0;
   padding-bottom:0;
   color:grey;
}
div.te_legend > * {display:inline;}
input.te_input {
   width:100%;
   background:hsl(0, 0%, 97%);
}


/* 
   Checkboxes 
*/
input.te_checkbox {
   visibility:visible;
}